html {
    min-height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;    
}

body {
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #f8ad9d;
    text-align: center;
    font-family: 'Inconsolata', monospace; 
    color: #f8f9fa;
    text-shadow: 0px 0px 3px black; 
}

h3, h4 {
    background: #00b4d8;
    padding: 6px 10px;
}

h2 {
    font-size: 1.75rem;
}

#profile-img {
    width: 200px;
    border-radius: 50%;
    border: 4px solid #00b4d8;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 40px;
}

.gift-img {
    width: 300px;
    height: 300px;;
    border: 4px solid #f8f9fa;
    background-image: url("gift.jpg");
    background-size: cover;
    margin: 30px auto 20px auto;
}

#gift-hotdog:hover {
    background-image: url("hotdog.jpg");
}

.triple-gift {
    display: flex;
    justify-content: center;
}

.footer {
    background: #001d3d;
    max-width: 100%;
    height: 15%;
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: space-between;
}

.navbar {
    max-width: 100%;
    height: 5%;
    background: #001d3d;
    margin-top: 0;
    display: flex;
    font-size: 1.5rem;
}

ul {
    list-style-type: none;
    margin-top: 0;
    display: flex;
    flex-direction: row;
}

.nav-items {
    margin-right: 10px;
    margin-top: 15px;
}